{% extends "admin.html" %}

{% block content %}


<!-- Amind Page -->

<br>
<h2>Add Driver Runs</h2>
<br>

<!-- empty form for add driver -->
<form method="POST" action="/admin/adddriverrun/<new_driver_id>" enctype="multipart/form-data">
    <table class="table caption-top"> 
            <thead>
                <tr>
                    <th>Driver ID</th>
                    <th>Course ID</th>
                    <th>Run Number</th>
                    <th>Seconds</th>
                    <th>Cones</th>
                    <th>WD</th>                   
                </tr>
            </thead>
            <tbody>
                <!-- First row of the table to be updated-->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="A">A</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                </tr>
                <!-- second row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                <td>
                    <select name="courseid" required>
                        <option value="A">A</option>
                    </select>
                </td>
                <td>
                    <select name="run_num" required>
                        <option value="2">2</option>
                    </select>
                </td>
                <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                </tr>
                <!-- third row of the table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="B">B</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- fourth row of the table to be updated-->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="B">B</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="2">2</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- fifth row of the table to be updated-->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="C">C</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- sixth row of the table to be updated -->
                <tr>
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="C">C</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="2">2</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- 7th row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- 8th row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="2">2</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- 9th row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="E">E</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- 10th row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="E">E</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="2">2</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- 11th row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="F">F</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
                <!-- 12th row ofthe table to be updated -->
                <tr>
                    <!-- we get the "driverid" value from editruns.html as the user select a driver on that page. -->
                    <td>
                        <select name="driverid" required>
                            <option value="{{ driverid }}">{{ driverid }}</option>
                        </select>
                    </td> 
                    <td>
                        <select name="courseid" required>
                            <option value="F">F</option>
                        </select>
                    </td>
                    <td>
                        <select name="run_num" required>
                            <option value="2">2</option>
                        </select>
                    </td>
                    <td><input type="number" min="0" max="300" id="seconds" name="seconds" placeholder="null"></td>
                    <td><input type="number" min="0" max="20" id="cones" name="cones"  placeholder="null"></td>
                    <td><input type="number" name="wd" value="0"></td>
                    </td>
                </tr>
            </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

{% endblock %}