{% extends "admin.html" %}

{% block content %}


<!-- Amind Page -->

<br>
<h2>Edit Runs</h2>
<br>
<!-- This is a select bar for user to choose a name for editing. The select bar options are from driver table in database.-->
<form id="select_form" name="select_form" action="/admin/editruns2" method="POST">
    <p>
        <label>Select a course to edit runs</label>
        <select name="selected_course" id="selected_course" onchange="this.form.submit()">    <!-- The onchange attribute is very simple Javascript to automatically submit the form when the selection changes -->
            <option>&lt;Select A Course&gt;</option>
                {% for course in courseList %}
                {% if course[0]==courseid %}
                
                    <option value="{{course[0]}}"  selected>{{course[0]}}</option>
                    
                {% else %}
                <option value="{{course[0]}}">{{course[0]}}</option>
                {% endif %}
                {% endfor %}

        </select>
    </p>
</form>


<table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">Driver ID</th>
        <th scope="col">Course ID</th>
        <th scope="col">Run Number</th>
        <th scope="col">Seconds</th>
        <th scope="col">Cones</th>
        <th scope="col">Wrong Direction(wd)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in course_result %}
          <tr>
              {% for item in row %}
                  <td>{{ item }}</td>
                  
              {% endfor %}
              
              <td>
                <button><a  href= "/editrun_course?driverID={{row[0]}}&courseID={{row[1]}}&runNumber={{row[2]}}">  Edit
                </a> 
            </button>
               <td>
          </tr>
      {% endfor %}
    </tbody>
</table>
<!-- Table end -->


{% endblock %}