<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function calculateAge(date) 
        {
        const now = new Date();
        const diff = Math.abs(now - date );
        const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365)); 
        return age
        }

        var picker = new Pikaday({ 
        field: document.getElementById('birth_date') ,
        yearRange:[1900,2020],
        onSelect: function(date) {
        let age = calculateAge(date);
        document.getElementById('age').innerHTML = "age: "+age ;
        }                        
        });
      </script>
</head>



<body>
    
    <div ><label for="birth_date">Birth Date: </label>
        <input type="text" id="birth_date" /></div>
      <div id="age" style="padding-top:2em;"></div>

<p>fenjiexian</p>



  
  
  
  
  
  
  
</body>
</html>

